.header {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .sign-in-name {
    display: flex;
  }
  .logo-container {
    height: 100%;
    width: 70px;
    padding: 20px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .option {
      padding: 10px 15px;
    }
    cursor: pointer;
  }
  .option:hover {
    background: #444;
    color: #fff;
  }
}
